#baseShape {
   /* background-color: blue;*/
background-color: rgb(236, 236, 236);
    max-width: 290px;
    height: 530px;
    border-radius: 20px;
	padding-top: 35px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

#screenBlack {
    background-color: black;
    width: 270px;
    height: 400px;
	margin-top: 30px;
	margin-left: 10px;
	overflow: hidden;
	border: 1px solid black;
}

#powerButton {
	background-color: white;
	width: 55px;
	height: 55px;
	border-radius: 25px;
	margin-left: 117px;
	margin-top: 15px;
	
}

#innerPower {
	/*background-color: gray;*/
	width: 30px;
	height: 30px;
	margin-left: 11px;
	border-radius: 5px;
	border-style:solid;
	border-width:2px;
	border-color: rgb(150, 150, 150);
}

#topSpacer {
/*	background-color:green;*/
	width: 10px;
	height: 12px;
}



#earphone {
	/*background-color: red;*/
	background-color: rgb(65, 61, 61);
	width: 70px;
	height: 6px;
	margin-left: 104px;
	border-radius: 2px;
}